<nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo">Mently.club</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <!-- derective if -->
            {{#if isStates}}
                <li class="active"><a href="/states">Страны</a></li>
            {{else}}
                <li><a href="/states">Страны</a></li>
            {{/if}}

            {{#if isEconomy}}
                <li class="active"><a href="/economy">Экономика</a></li>
            {{else}}
                <li><a href="/economy">Экономика</a></li>
            {{/if}}

            {{#if isAdd}}
                <li class="active"><a href="/add">Добавить</a></li>
            {{else}}
                <li><a href="/add">Добавить</a></li>
            {{/if}}


        </ul>
    </div>
</nav>
