<h3>Добавьте описание экономики страны!</h3>

<form method="post">
    <div class="input-field">
        <label for="state"></label>
        <input placeholder="Введите страну" name="state" id="state" type="text" class="validate" required>
        <span class="helper-text" data-error="Введите название страны"></span>
    </div>

    <div class="input-field">
        <label for="description">Описание</label>
        <input placeholder="Введите описание экономики" id="description" name="description" type="text" class="validate" required>
        <span class="helper-text" data-error="Enter rating"></span>
    </div>

    <button type="submit" class="btn btn-primary">Опубликовать!</button>

</form>
