
<div class="times">
    <div class="developer">
        <p>Ivan</p>
        <span>{{ivan}} часов</span>
    </div>
    <div class="developer">
        <p>Yaroslav</p>
        <span>{{yara}} часов</span>
    </div>
</div>
