.nav-wrapper{
    background-color: #656565;
    padding: 0 30px;
}

.blue-grey.darken-1 {
    background-color: #656565bf !important;
}

a.view{
    margin: 0;
}

button.btn{
    margin: 10px auto !important;
    transition: 0.2s;
    border-radius: 15px;
    background-color: #666 !important;
    width: 300px;
}

.btn:hover{
    opacity: 0.8;
}

select {
    display: block;
}

/* ERRORS SHOWING BEGIN*/
.error-block{
    display: flex;
    align-items: center;
    justify-content: center
}

.circle-error{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #e54949;
    margin-right: 6px;
}

.errors-list p{
    color: #e54949 !important;
}
/* ERRORS SHOWING END*/

.card-action{
    display: flex;
    align-items: flex-start;
}

.card-action p{
    margin: 0;
    padding: 3px 5px;
    border: 2px solid #f3f3f3;
    color: #f3f3f3;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.card-action p:hover{
    background-color: #7b8387;
}

/* AUTHOR BEGIN */
.authors{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.author-block{
    border: 2px solid #ccc;
    color: #666;
    border-radius: 6px;
    width: 46%;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.author-block p{
    user-select: none;
}
.author-block-active{
    background-color: #d4ffcc;
    border-color: #40de78;
}
/* AUTHOR END */


/* NAVBAR BEGIN */
.additional-links{
    display: flex;
    justify-content: space-around;
    align-items: center;

    display: none;
}

.additional-links a{
    width: 50%;
    min-height: 50px;
    background-color: #7d7d7d;
    color: #f2f2f2;
    font-size: 1.2em;
    transition: 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional-links a:hover{
    background-color: #6d6d6d;
}

.additional-active{
    background-color: #666 !important;
}

/* NAVBAR END */


/* STATISTIC BEGIN */
.times{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.developer{
    min-height: 200px;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.developer p{
    margin: 0 0 10px 0;
    font-size: 3.5em;
    font-weight: bold;
}
.developer span{
    font-size: 1.5em;
    /* font-weight: bold; */
    font-family: monospace;
}
.statistic{
    margin-top: 10px;
    border-top: 2px solid #ccc;
    padding-top: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic span {
    margin: 5px 0;
}

.notEnough{
    color: #f24444;
}

.enough{
    color: #27c027;
}
/* STATISTIC END */


/* ADDING PAGE STYLES BEGIN */
.time-adding{
    text-align: center;
}
.time-form{
    display: flex;
    flex-direction: column;
}
.time-block{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.time span{
    height: 70px;
    font-size: 3.0em;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
}

.time, .timer{
    width: 400px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-form input{
    width: 70px !important;
    height: 70px !important;
    font-size: 3.0em !important;
    font-weight: bold;
    text-align: center;
}
.timer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.timer-block{
    margin: 6px;
    height: 70px;
    width: 70px;
    border: 2px solid #ccc;
    border-radius: 15px;
    color: #666;
    cursor: pointer;
    transition: 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-block:hover{
    background-color: #f3f3f3;
}
.timer-block p{
    margin: 0;
    font-weight: bold;
}
.timer-block-minutes{
    border-radius: 50%;
}
/* ADDING PAGE STYLES END */


/* AUTH BEGIN */
.auth{
    margin-top: 20px;
}
/* AUTH END */


@media (max-width: 600px) {
    .developer p{
        font-size: 2.5em;
    }
    .developer span{
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    .timer-block {
        margin: 3px;
        height: 50px;
        width: 50px;
    }
    .time, .timer {
        width: 250px;
    }
    .authors{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .author-block{
        width: 90%;
    }
    button.btn{
        width: 200px;
    }
}

@media (max-width: 400px) {
    .developer p{
        font-size: 2em;
    }
    .developer span{
        font-size: 0.8em;
    }
}

@media (max-width: 1000px) {
    .additional-links{
        display: flex;
    }
}
